ccxt
pandas
# Use the official git install syntax instead of a zip archive link
git+https://github.com/twopirllc/pandas-ta.git@main
tensorflow
transformers
tweepy
newsapi-python
vaderSentiment
discord.py
requests
